html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.title, p {
  margin: 0;
}

img {
  display: block;
}

.body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-image: none;
  cursor: pointer;
  fill: black;
  background-color: #ffffff;
  transition: fill 250ms linear;
}

.close-modal:hover {
  fill: #2196f3;
}

.modal-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: white;
  z-index: 10;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.contact-form {
  width: 370px;
  margin: 40px auto;
}

@media screen and (min-width: 1200px) {
  .contact-form {
    width: 448px;
  }
}

.user-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-image: none;
  outline: none;
  padding-left: 40px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-form-input:focus, .user-form-input:hover {
  cursor: pointer;
  border-color: #2196f3;
  outline: none;
}

.user-form-label {
  font-family: Roboto;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 6px;
}

.form-div {
  position: relative;
  margin-bottom: 10px;
}

.label-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(50%);
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-icon:hover, .label-icon:focus {
  fill: #2196f3;
}

.user-form-input:hover + .label-icon,
.user-form-input:focus + .label-icon {
  fill: #2196f3;
}

.modal-submit-btn {
  margin: 0 85px;
  box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .modal-submit-btn {
    margin: 0 124px;
  }
}

.modal-submit-btn:hover {
  color: #e4fa6a;
  background-color: #0f1975;
  border-color: #0f1975;
}

.form-message {
  width: 370px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form-message {
    width: 448px;
  }
}

.form-message::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:focus, .form-message:hover {
  cursor: pointer;
  border-color: #2196f3;
  outline: none;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agree-checkbox {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 12px;
}

.custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox:not(:checked) + .custom-checkbox {
  background-image: url(../images/notcheck.svg);
}

.checkbox:checked + .custom-checkbox {
  background-image: url(../images/check.svg);
}

.agree-text {
  font-family: Roboto;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.71;
  margin-left: 6px;
  text-align: start;
}

@media screen and (min-width: 1200px) {
  .agree-text {
    font-size: 14px;
  }
}

.contract {
  display: inline-block;
  color: #2196f3;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: underline;
}

.footer-adress-map:hover, .footer-adress-map:focus, .footer-adress-link:hover, .footer-adress-link:focus {
  color: #2196f3;
}

.header-adress-link, .footer-adress-map, .footer-adress-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-submit-btn, .hero-btn, .mailing-btn {
  font-family: Roboto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-invite, .mailing-text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.container, .works-list-title, .works-list-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.work-title, .team-title, .client-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.header-container {
  display: flex;
}

.logo-accent {
  color: #2196f3;
}

.navigation-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.header-adress-link {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
    align-items: center;
  }
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  .icon-burger {
    display: inline-block;
  }
  .menu-btn {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 100;
  }
  .menu-btn.is-open .icon-close {
    display: block;
  }
  .menu-btn.is-open .icon-burger {
    display: none;
  }
  .icon-close {
    display: none;
  }
  .menu-wrapper {
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .menu-wrapper.is-open {
    display: block;
  }
  .navigation-list-link {
    font-size: 40px;
    line-height: 1.175;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .navigation {
    margin-bottom: 306px;
  }
  .header-icon-mail {
    display: none;
  }
  .header-icon-tel {
    display: none;
  }
  .navigation-list-link {
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .header-adress-link {
    font-size: 34px;
    line-height: 1.176;
  }
  .header-tel {
    color: #2196f3;
  }
  .header-mail {
    color: #757575;
    font-size: 24px;
    line-height: 1.172;
  }
  .header-adress-list-item:not(:last-child) {
    margin-bottom: 35px;
  }
  .header-social-list {
    display: flex;
    position: relative;
  }
  .header-social-link {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .header-utils {
    display: block;
    margin-bottom: 64px;
  }
  .header-social-item:not(:last-child) {
    margin-right: 20px;
  }
  .header-social-item + .header-social-item::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotateZ(90deg) translateX(-50%) translateY(20px);
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .navigation {
    margin-right: 80px;
  }
  .logo {
    margin-right: 88px;
  }
  .menu-btn {
    display: none;
  }
  .header-social-list {
    display: none;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list .current-page {
    color: #2196f3;
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
  }
  .navigation-list-link {
    position: relative;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .navigation-list-link:hover, .navigation-list-link:focus, .navigation-list-link:active {
    color: #2196f3;
  }
  .navigation-list-link::after {
    position: absolute;
    bottom: 0;
    transform: translateY(1.33px);
    z-index: 100;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 0;
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .navigation-list-link:hover::after {
    opacity: 1;
  }
  .current-page.navigation-list-link::after {
    opacity: 1;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-adress-list {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-adress-list-item:last-child {
    margin-bottom: 10px;
  }
  .header-adress-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    align-items: center;
  }
  .header-adress-link:hover, .header-adress-link:focus {
    color: #2196f3;
  }
  .header-icon-mail {
    fill: #757575;
    margin-right: 10px;
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .header-adress-link:hover .header-icon-mail,
  .header-adress-link:focus .header-icon-mail {
    fill: #2196f3;
  }
  .header-icon-tel {
    fill: #757575;
    margin-right: 10px;
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
  .header-adress-link:hover .header-icon-tel,
  .header-adress-link:focus .header-icon-tel {
    fill: #2196f3;
  }
  .header-tel {
    display: flex;
  }
  .header-mail {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 345px;
  }
  .menu-wrapper {
    text-align: end;
    justify-content: space-between;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .logo {
    margin-right: 93px;
  }
  .header {
    margin: 0 auto;
  }
  .header-adress-list {
    flex-direction: row;
  }
  .header-adress-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .header-adress-list-item:last-child {
    margin-bottom: 0;
  }
}

.hero {
  background-color: #C4C4C4;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_mb.jpg);
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero {
    max-width: 1200px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_plan.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img.jpg);
  }
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn:hover {
  color: #e4fa6a;
  background-color: #0f1975;
  border-color: #0f1975;
}

.properties-icon {
  max-width: 480px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  text-align: center;
}

.properties-icon-svg {
  margin-top: 25px;
}

.properties {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1199px) {
  .properties {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.properties-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .properties-item-title {
    text-align: left;
  }
}

.properties-item-text {
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .properties-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .properties-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
  .properties-list-item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .properties-list {
    display: flex;
    justify-content: space-between;
  }
  .properties-list-item {
    width: 270px;
    height: 251px;
  }
  .properties-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

@media screen and (min-width: 1199px) {
  .work-title {
    font-size: 36px;
  }
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work {
  padding-bottom: 94px;
}

.work-sub {
  transform: translateY(-100%);
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-sub-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-icon {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: white;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  display: inline-block;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .thumb {
    max-width: 450px;
    max-height: 460px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .thumb {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb {
    width: 270px;
    height: 260px;
  }
}

@media screen and (min-width: 1199px) {
  .team-title {
    font-size: 36px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .team-item {
    margin-bottom: 30px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:not(:nth-child(-n+2)) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    padding-bottom: 30px;
  }
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-list .social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  background-color: #ffffff;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-icon {
  fill: #AFB1B8;
}

.clients-icon {
  fill: #AFB1B8;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: #2196f3;
}

@media screen and (min-width: 1199px) {
  .client-title {
    font-size: 36px;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #757575;
  border-radius: 4px;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
}

@media screen and (max-width: 767px) {
  .clients-link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .clients-item:not(:nth-child(-n+2)) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item:not(:nth-child(-n+3)) {
    margin-top: 30px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-adress-map {
  color: #ffffff;
  line-height: 1.71;
}

.footer-adress-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.footer-logo {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-list {
    align-items: flex-start;
    padding-bottom: 0;
  }
}

.footer-list-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    margin-right: 70px;
  }
  .footer-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .invite {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .invite {
    align-items: flex-start;
  }
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  fill: #ffffff;
}

.mailing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .mailing {
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 570px;
    margin-left: 93px;
    align-items: flex-start;
    padding-bottom: 25px;
  }
}

.mailing-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
  }
}

.mailing-text {
  display: block;
}

.mailing-input {
  width: 100%;
  height: 50px;
  color: #EEE;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-image: none;
  border-radius: 4px;
  background-color: #2f303a;
  margin-bottom: 20px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .mailing-input {
    width: 450px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-input {
    width: 358px;
    margin-right: 12px;
  }
}

.mailing-btn {
  box-shadow: 0ch;
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  text-align: left;
  padding-left: 24px;
  background-position: right 28px bottom 13px;
}

.mailing-btn:hover {
  color: #e4fa6a;
  background-color: #0f1975;
  border-color: #0f1975;
}

.header {
  border-bottom: 1px solid #ececec;
}

.btn-filter-list {
  display: flex;
  justify-content: center;
  padding-top: 95px;
  padding-bottom: 50px;
}

.btn-filter {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.btn-filter:hover, .btn-filter:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-filter-list-item:not(:last-child) {
  margin-right: 7px;
}

.works-list-title {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.poster {
  letter-spacing: 0.04em;
}

.works-list-text {
  width: 322px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  letter-spacing: 0.03em;
}

.works-text {
  padding: 20px 24px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-list-item {
  width: 370px;
  cursor: pointer;
}

.works-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works-list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.works-list-img {
  margin-bottom: 0px;
}

.works-text {
  border-right: 2px solid #EEE;
  border-bottom: 2px solid #EEE;
  border-left: 2px solid #EEE;
}

.works-list {
  padding-bottom: 94px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list-item:hover .overlay,
.works-list-item:focus .overlay {
  transform: translateY(0);
}

.tehnokryak {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */