
.work{
display: none;
}

@media screen and (min-width: 1200px ){
  .work{
    display: block;
    }
}

.work-title,
.team-title,
.client-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color:$title-dark-color;

  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work {
  padding-bottom: 94px;
}

.work-sub {
 transform: translateY(-100%);
 height: 70px;
 width: 370px;
 background-color: rgba(47, 48, 58, 0.8);
}

.work-sub-text {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
padding-top: 24px;
}
