
    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $title-white-color: #ffffff;
    $title-dark-color: #212121;
    $accent-color: #2196f3;
    $text-color: #757575;
    $text-color-dark-thema: rgba(255, 255, 255, 0.6);
    $background-dark-color: #2f303a;
    $background-gray-color: #F5F4FA;
    $logo-dark-color: #000000;

  
  
  